/* Actions */
.Syw-Actions {
	width: 100%;
	border-width: 1px;
	border-style: solid;
	border-color: var(--syw-color-tertiary);
	border-radius: var(--syw-radius-lg);
	background-color: var(--syw-color-secondary);
	@media (min-width: 576px) {
		max-width: 300px;
	}
}
/* Actions > List */
ul.Syw-ActionsList {
	width: 100%;
	list-style: none;
	margin: 0;
	padding: var(--syw-space-2) 0;
}
/* Actions > List > Item */
li.Syw-ActionsListItem {
	padding: 0 var(--syw-space-2) var(--syw-space-1) var(--syw-space-2);
	margin-bottom: var(--syw-space-1);
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-color: rgba(0,0,0,0.1);
	font-size: var(--syw-text-sm);
	display: flex;
	align-items: center;
}
li.Syw-ActionsListItem span {
	margin-right: var(--syw-space-1);
}
.Syw-ActionsListItemTooltipIcon {
	
	/* opacity: 0.5; */
}