/* Caption */
.Syw-Caption {
	margin: 0;
	padding: 0;
	border: 0;
	width: calc(100% - var(--syw-size-caption-indent));
	border: 1px solid transparent;
	position: relative;
	pointer-events: all;
	line-height: 1.3em;
	cursor: text;
	transition: all 200ms ease;
	--syw-size-caption-before-top: calc((var(--syw-space-3) + 2px));
}
.Syw-Caption::before {
	content: "";
	display: block;
	width: 3px;
	z-index: 2;
	position: absolute;
	left: calc(var(--syw-space-2) + (var(--syw-size-badge) / 2) - 1.5px);
	top: calc(var(--syw-size-caption-before-top) * -1);
	height: 0;
	background-color: var(--syw-color-primary);
	border-color: var(--syw-color-secondary);
	border-style: solid;
	border-width: 0 1px;
	transition: all 50ms ease;
}
/* Caption > Active */
.Syw-App_active.Syw-App_expand .Syw-Caption {
	padding-bottom: var(--syw-space-3);
}
/* Caption > Active > Expand */
.Syw-App_active.Syw-App_expand .Syw-Caption::before {
	height: calc(var(--syw-size-caption-before-top) + 100% + calc(var(--syw-size-manifest-preview-height) / 2) - calc(var(--syw-size-badge) / 2) + 3px);
}
.Syw-App_active.Syw-App_expand .Syw-Caption::after {
	opacity: 1;
}
/* Caption > Inner */
.Syw-CaptionInner {
	max-width: var(--syw-size-paragraph-max-width);
	transition: all 200ms ease;
}
/* Caption > Inner > Active > Expand */
.Syw-App_active.Syw-App_expand .Syw-CaptionInner {
	transform: translateX(var(--syw-size-caption-indent));
	/* padding-left: var(--syw-space-6); */
}
/* Caption > Byline */
.Syw-CaptionByline {
	display: block;
	opacity: 0.75;
	font-size: var(--syw-text-sm);
}
/* Caption > Byline > Active > Expand */
.Syw-App_active.Syw-App_expand .Syw-CaptionByline {
	/* color: var(--syw-color-secondary-dark); */
}