@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400..500;1,400..500&display=swap');

:root {
	/* Colors */
	/* Colors > Primary */
	--syw-color-primary: rgb(6, 0, 53);
	/* --syw-color-primary-light: rgb(46, 55, 92); */
	/* --syw-color-primary-dark: rgb(46, 55, 92); */
	/* Colors > Secondary */
	--syw-color-secondary: rgb(236, 242, 248);
	/* --syw-color-secondary-light: rgb(236, 239, 253); */
	/* --syw-color-secondary-dark: rgb(119, 128, 166); */
	/* Colors > Tertiary */
	--syw-color-tertiary: rgb(139, 142, 145);
	/* --syw-color-tertiary-light: rgb(255, 255, 255); */
	/* --syw-color-tertiary-dark: rgb(163, 163, 163); */
	/* Colors > Quaternary */
	--syw-color-quaternary: rgb(5, 51, 255);
	/* --syw-color-quaternary-light: rgb(223, 227, 252); */
	/* --syw-color-quaternary-dark: rgb(0, 46, 196); */
	/* Colors > Components */
	--syw-color-status-trusted: rgb(22, 126, 22);
	--syw-color-status-valid: rgb(126, 126, 22);
	--syw-color-status-invalid: rgb(255, 0, 0);
	--syw-color-status-unknown: var(--syw-color-primary);
	--syw-color-status-trusted-light: rgb(205, 245, 205);
	--syw-color-status-valid-light: rgb(245, 245, 205);
	--syw-color-status-invalid-light: rgb(255, 221, 221);
	--syw-color-status-unknown-light: var(--syw-color-secondary);
	--syw-color-type: rgb(126, 126, 22);
	--syw-color-type-light: rgb(245, 245, 205);
	--syw-color-backdrop: hsla(229, 29%, 11%, 0.25);
	/* --syw-color-backdrop: rgba(236, 242, 248, 0.25); */
	/* Border Radii */
	--syw-radius-sm: 2px;
	--syw-radius-md: 4px;
	--syw-radius-lg: 6px;
	--syw-radius-full: 100%;
	/* Sizes > Spacing */
	--syw-space-1: 4px;
	--syw-space-2: 8px;
	--syw-space-3: 12px;
	--syw-space-4: 16px;
	--syw-space-5: 20px;
	--syw-space-6: 24px;
	--syw-space-7: 28px;
	--syw-space-8: 32px;
	--syw-space-9: 36px;
	--syw-space-10: 40px;
	/* Sizes > Gap */
	--syw-gap-outer: 17px;
	/* Sizes > Max Width */
	--syw-max-width: 1000px;
	/* Sizes > Components */
	--syw-size-badge: 20px;
	--syw-size-badge-icon: 12px;
	--syw-size-manifest-preview-height: 53px;
	--syw-size-manifest-preview-indent: calc(var(--syw-size-badge) + var(--syw-space-4));
	--syw-size-caption-indent: calc(var(--syw-size-badge) + var(--syw-space-5));
	--syw-size-paragraph-max-width: 85ch;
	--syw-size-drawer-grabber-size: 36px;
	--syw-size-drawer-grabber-indicator-length: 40px;
	--syw-size-drawer-grabber-indicator-thickness: 4px;
	/* Radii */
	--syw-radius-drawer: var(--syw-space-6);
	/* Z Index */
	--syw-z-modal: 9000000;
	--syw-z-tooltip: 9000001;
	/* Typography */
	/* Typography > Fonts */
	--syw-font-primary: "Work Sans", arial, sans-serif;
	--syw-font-weight-normal: 400;
	--syw-font-weight-bold: 500;
	/* Typography > Sizes */
	--syw-text-base: 14px;
	--syw-text-md: 13px;
	--syw-text-sm: 12px;
	--syw-text-xs: 10px;
	--syw-text-xxs: 8px;
	/* Typography > Letter Spacing */
	--syw-letter-spacing-caps: 0.125em;
	/* @media (max-width: 576px) {
		--syw-space-1: 2px;
		--syw-space-2: 4px;
		--syw-space-3: 6px;
		--syw-space-4: 8px;
		--syw-space-5: 10px;
		--syw-space-6: 12px;
		--syw-space-7: 14px;
		--syw-space-8: 16px;
		--syw-space-9: 18px;
		--syw-space-10: 20px;
	} */

	.syw-hidden {
		position: absolute;
		border: 0px;
		width: 1px;
		height: 1px;
		padding: 0px;
		margin: -1px;
		overflow: hidden;
		clip: rect(0px, 0px, 0px, 0px);
		white-space: nowrap;
		overflow-wrap: normal;
	}
}

/* Breakpoints */
/* Breakpoints > Below */
/* @media (min-width: 319px) {} */
/* @media (min-width: 479px) {} */
/* @media (min-width: 575px) {} */
/* @media (min-width: 767px) {} */
/* @media (min-width: 991px) {} */
/* @media (min-width: 1199px) {} */
/* @media (min-width: 1399px) {} */
/* Breakpoints > Above */
/* @media (max-width: 320px) {} */
/* @media (max-width: 480px) {} */
/* @media (max-width: 576px) {} */
/* @media (max-width: 768px) {} */
/* @media (max-width: 992px) {} */
/* @media (max-width: 1200px) {} */
/* @media (max-width: 1400px) {} */