/* Manifest > Table */
.Syw-ManifestTable {
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
	@media (min-width: 460px) and (max-width: 576px) {
		display: grid;
		gap: var(--syw-space-2);
		grid-template-columns: 1fr 1fr;
	}
}
/* Manifest > Table > Row */
.Syw-ManifestTableRow {
	margin-bottom: var(--syw-space-3);
}
.Syw-ManifestTableRow:last-of-type {
	margin-bottom: 0;
}
.Syw-ManifestTableRowLabel {
	display: flex;
	align-items: center;
}
.Syw-ManifestTableRowLabel > span {
	margin-right: var(--syw-space-1);
	font-size: var(--syw-text-xs);
	font-weight: var(--syw-font-weight-bold);
	letter-spacing: var(--syw-letter-spacing-caps);
	text-transform: uppercase;
}
svg.Syw-ManifestTableRowLabelTooltipIcon {
	
	/* opacity: 0.5; */
}
svg.Syw-ManifestTableRowLabelTooltipIcon:hover {
	/* opacity: 1; */
}