/* Manifest */
.Syw-Manifest {
	position: relative;
	margin-bottom: var(--syw-space-2);
	background-color: var(--syw-color-secondary);
	border-radius: var(--syw-radius-lg);
	border-color: var(--syw-color-tertiary);
	border-style: solid;
	border-width: 1px;
	transition: all 200ms ease;
}
.Syw-Manifest::after,
.Syw-Manifest::before {
	content: '';
	display: block;
	width: 3px;
	height: calc(100% - (var(--syw-size-badge) / 2));
	position: absolute;
	z-index: 2;
	top: calc((var(--syw-size-manifest-preview-height) / 2) + (var(--syw-size-badge) / 2));
	background-color: var(--syw-color-primary);
	border-color: var(--syw-color-secondary);
	border-style: solid;
	border-width: 0 1px;
}
.Syw-Manifest::before {
	left: calc(var(--syw-space-2) + (var(--syw-size-badge) / 2) - 1.5px);
}
.Syw-Manifest::after {
	right: calc(var(--syw-space-3) - 1.5px);
	display: none;
}
.Syw-Manifest:last-of-type {
	margin-bottom: 0;
}
.Syw-Manifest:last-of-type::before,
.Syw-Manifest:last-of-type::after {
	display: none;
}
.Syw-App_active .Syw-Manifest {
	/* background-color: var(--syw-color-primary); */
}
/* Manifest > Open */
.Syw-Manifest.Syw-Manifest_open {
	color: var(--syw-color-primary);
	background-color: var(--syw-color-secondary);
}
/* Manifest > Hover */
.Syw-Manifest:not(.Syw-Manifest_open):hover {
	background-color: var(--syw-color-secondary);
}
/* Manifest > Inner */
.Syw-ManifestInner {
	overflow: hidden;
	position: relative;
}