/* Modal */
/* Modal > Backdrop */
.Syw-ModalBackdrop {
	width: 100%;
	height: 100%;
	position: fixed;
    inset: 0;
	z-index: calc(var(--syw-z-modal) + var(--layer-index, 0));
	background-color: var(--syw-color-backdrop);
}
.Syw-ModalBackdrop[data-state="open"] {
	animation: syw-modal-backdrop-in 200ms ease;
}
.Syw-ModalBackdrop[data-state="closed"] {
	animation: syw-modal-backdrop-out 200ms ease forwards;
}
/* Modal > Positioner */
.Syw-ModalPositioner {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	inset: 0;
	z-index: var(--syw-z-modal);
}
/* Modal > Content */
.Syw-ModalContent {
	width: 40rem;
	display: flex;
	margin: auto;
	position: relative;
	z-index: 10002;
}
.Syw-ModalContent[hidden] {
	display: none;
}
.Syw-ModalContent[data-state="open"] {
    animation: syw-modal-content-in 200ms ease;
}
.Syw-ModalContent[data-state="closed"] {
    animation: syw-modal-content-out 200ms ease forwards;
}
/* Modal > Content > Box */
.Syw-ModalContentBox {
	width: 100%;
	max-width: calc(100vw - var(--syw-space-4));
	max-height: calc(100vh - var(--syw-space-4));
	padding: var(--syw-space-3) var(--syw-space-4) var(--syw-space-4);
	color: var(--syw-color-secondary);
	background-color: var(--syw-color-primary);
	border-radius: var(--syw-radius-lg);
	border-color: var(--syw-color-tertiary);
	border-style: solid;
	border-width: 1px;
	overflow-y: auto;
	overflow-x: hidden;
	pointer-events: all;
	position: relative;
}
/* Modal > Content > Header */
hgroup.Syw-ModalContentHeader {
	margin: 0 0 var(--syw-space-2) 0 ;
	font-family: inherit;
	color: var(--syw-color-secondary);
}
hgroup.Syw-ModalContentHeader h2 {
	margin: 0;
	font-size: var(--syw-text-lg);
}
/* Modal > Close */
button.Syw-ModalClose {
	width: var(--syw-space-6);
	height: var(--syw-space-6);
	display: flex;
	position: absolute;
	right: calc(var(--syw-space-1) * -1);
	top: calc(var(--syw-space-1) * -1);
	color: var(--syw-color-primary);
	background-color: var(--syw-color-secondary);
	border-radius: var(--syw-radius-full);
	border-color: currentColor;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	transition: all 200ms ease;
}
button.Syw-ModalClose svg {
	margin: auto;
	width: var(--syw-space-4);
	height: var(--syw-space-4);
}
button.Syw-ModalClose:hover,
button.Syw-ModalClose:focus {
	color: var(--syw-color-quaternary);
}
/* Modal > Animations */
/* Modal > Animations > Backdrop */
@keyframes syw-modal-backdrop-in {
    from {
		opacity: 0;
	}
    to {
		opacity: 1;
	}
}
@keyframes syw-modal-backdrop-out {
    from {
		opacity: 1;
	}
    to {
		opacity: 0;
	}
}
/* Modal > Animations > Content */
@keyframes syw-modal-content-in {
    from {
		opacity: 0; transform: scale(0.98) translateY(8px);
	}
    to {
		opacity: 1; transform: scale(1) translateY(0);
	}
}
@keyframes syw-modal-content-out {
    from {
		opacity: 1; transform: scale(1) translateY(0);
	}
    to {
		opacity: 0; transform: scale(0.98) translateY(8px);
	}
}
