/* Provenance > Toggle */
.Syw-Cutline button.Syw-ProvenanceToggle {
	display: flex;
	align-items: center;
	position: relative;
	cursor: pointer;
	padding: var(--syw-space-1) var(--syw-space-2) var(--syw-space-1) var(--syw-space-2);
	color: var(--syw-color-secondary);
	background-color: var(--syw-color-primary);
	border-radius: var(--syw-radius-lg);
	border: 1px solid transparent;
	font-size: var(--syw-text-sm);
	font-weight: var(--syw-font-weight-bold);
	transition: all 200ms ease;
	user-select: none;
}
/* Provenance > Toggle > Badge */
.Syw-Cutline button.Syw-ProvenanceToggle .Syw-Badge {
	margin-right: calc(var(--syw-space-1) * 1.5);
}
/* Provenance > Toggle > Ornament */
/* .Syw-Cutline button.Syw-ProvenanceToggle::before {
	content: '';
	display: block;
	width: 8px;
	height: 8px;
	position: absolute;
	top: calc(50% - 4px);
	left: calc(var(--syw-space-3) - 5px);
	margin-right: var(--syw-space-2);
	z-index: 3;
	background-color: var(--syw-color-secondary);
	border-color: var(--syw-color-primary);
	border-width: 1px;
	border-style: solid;
	border-radius: 100%;
	transition: all 200ms ease;
} */
/* Provenance > Toggle > Hovered */
.Syw-Cutline button.Syw-ProvenanceToggle:hover,
.Syw-App_hovered .Syw-Cutline button.Syw-ProvenanceToggle,
.Syw-App_hovered .Syw-Cutline button.Syw-ProvenanceToggle {
	background-color: var(--syw-color-quaternary);
}
/* Provenance > Toggle > Hovered > Badge */
.Syw-Cutline button.Syw-ProvenanceToggle:hover .Syw-Badge,
.Syw-App_hovered .Syw-Cutline button.Syw-ProvenanceToggle .Syw-Badge,
.Syw-App_hovered .Syw-Cutline button.Syw-ProvenanceToggle .Syw-Badge {
	color: var(--syw-color-quaternary);
}
/* Provenance > Toggle > Hovered > Ornament */
/* .Syw-Cutline button.Syw-ProvenanceToggle:hover::before,
.Syw-App_hovered .Syw-Cutline button.Syw-ProvenanceToggle::before {
	border-color: var(--syw-color-quaternary);
} */
/* Provenance > Toggle > Active */
.Syw-App_active.Syw-App_expand .Syw-Cutline button.Syw-ProvenanceToggle {
	color: var(--syw-color-primary);
	background-color: var(--syw-color-secondary);
}
/* Provenance > Toggle > Active > Ornament */
/* .Syw-App_active.Syw-App_expand .Syw-Cutline button.Syw-ProvenanceToggle::before {
	border-color: var(--syw-color-primary);
} */
/* Provenance > Toggle > Active > Hovered */
.Syw-App_active.Syw-App_expand .Syw-Cutline button.Syw-ProvenanceToggle:hover,
.Syw-App_active.Syw-App_expand.Syw-App_hovered .Syw-Cutline button.Syw-ProvenanceToggle {
	color: var(--syw-color-quaternary);
	background-color: var(--syw-color-secondary);
}
/* Provenance > Toggle > Active > Hovered > Ornament */
/* .Syw-App_active.Syw-App_expand .Syw-Cutline button.Syw-ProvenanceToggle:hover::before,
.Syw-App_active.Syw-App_expand.Syw-App_hovered .Syw-Cutline button.Syw-ProvenanceToggle::before {
	background-color: var(--syw-color-quaternary);
	border-color: var(--syw-color-quaternary);
} */
